  
.HoverBigger:hover{
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.HoverBigger{
  cursor: pointer;
}
.nav{
    height: 70px;
    width: 100%;;
}
.Search{
    
  display: flex;
  justify-content: center;
}
.searchBar{
    height: 25px;
    width: 300px;
    display: flex;
    align-items: center;
  
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
}
.searchButton{
    height: 30px;
    width: 50px;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    height: 270px;
    width: 200px;
    margin: 5px;
    margin-top: 5px;
    padding: 5px;
    justify-content: space-between;
    display: flex;
     flex-wrap: wrap;
     border: solid 1px;
     border-radius: 5px;
   
  }

.img{
    height: 150px;
    width: 100%;
}
.chips{
    justify-content: space-between;
    justify-content: space-around;
}

.chip {
    height: 25px;
    width: 140px;
    margin-top: 5px;
    margin-right: 8px;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    background-color: #555;
    border: none;
    color: white;
  }

  .chip.active {
    background-color: #55555521;
    color: black;
  }








